<div class="container">
    <div class="row">
        <div class="span4">
          <h2>Jouer en ligne</h2>
          <p>
              Selectionnez votre adversaire : 
              <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <% @sessionRedis.each do |user| %>
                    <tr>
                        <td>
                            <%= link_to user["user_name"], { :controller => "index", :action => "index", :id => user["user_id"] } %>
                        </td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </p>
        </div>
        <div class="span4">
          <h2>Jouer contre une IA</h2>
          <p>Venez defier l'ordinateur ;)</p>
          <p><%= link_to "Jouer »", { :controller => "index", :action => "index" }, :class => "btn" %></p>
       </div>
        <div class="span4">
          <h2>Jouer à deux sur le même ordinateur</h2>
          <p>Parce-que c'est aussi cool de jouer à deux :)</p>
          <p><%= link_to "Jouer »", { :controller => "index", :action => "index" }, :class => "btn" %></p>
        </div>
      </div>
</div>

<!--Salut, <%= session[:user_name] %>
<br>
<div d="kinetic"></div>
<script data-main="/checkers/game.js" src="/checkers/libraries/require.js"></script>-->