<div class="container">
	Salut, <%= session[:user_name] %>
	
	<br>
	
    <div id="kinetic"></div>
</div>
<script src="/checkers/libraries/kinetic-v4.3.2.min.js"></script>
<script src="/checkers/libraries/oXHR.js"></script>
<script src="/checkers/config/constants.js"></script>
<script src="/checkers/utils/Ressource.js"></script>
<script src="/checkers/utils/Util.js"></script>
<script src="/checkers/gui/Map.js"></script>
<script src="/checkers/class/Pawn.js"></script>

<script src="/checkers/game.js"></script>